primero/WebContent/wsdl/Saludo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://primero" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://primero" xmlns:intf="http://primero" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://primero" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="mesaje">
    <complexType>
     <sequence>
      <element name="srt" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mesajeResponse">
    <complexType>
     <sequence>
      <element name="mesajeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="mesajeResponse">

      <wsdl:part element="impl:mesajeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mesajeRequest">

      <wsdl:part element="impl:mesaje" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Saludo">

      <wsdl:operation name="mesaje">

         <wsdl:input message="impl:mesajeRequest" name="mesajeRequest">

       </wsdl:input>

         <wsdl:output message="impl:mesajeResponse" name="mesajeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SaludoSoapBinding" type="impl:Saludo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="mesaje">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mesajeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mesajeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SaludoService">

      <wsdl:port binding="impl:SaludoSoapBinding" name="Saludo">

         <wsdlsoap:address location="http://localhost:9090/primero/services/Saludo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
